body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tree-wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    overflow: hidden;
}

.tree-wrapper .tree .stamp {
    height: 50%;
    width: 5%;
    background: saddlebrown;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
}

.tree-wrapper .tree .leaves {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: forestgreen;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.tree-wrapper .sun {
    width: 50%;
    height: 50%;
    border-radius: 59%;
    position: absolute;
    top: -20%;
    left: -20%;
    background:orange;
    box-shadow: 0 0 10px orange,
                0 0 60px orange,
                0 0 200px yellow,
                inset 0 0 80px yellow;
}